<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">New Department</h2>
                    <form id="domain-form" class="domain-form" method="post" th:action="@{/departments/new}" th:object="${department}">

                        <div class="form-group m-t-30">
                            <label for="name" th:text="#{department.name}">Name</label>
                            <input class="form-control" th:placeholder="#{department.name}" type="text" id="name" th:field="*{name}" required/>
                        </div>

                        <div class="form-group m-t-30">
                            <label for="email">E-Mail Address</label>
                            <input class="form-control" type="text" id="email" th:field="*{email}" required/>
                        </div>

                        <button th:text="#{common.create}" class="ui button" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>