<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/sparkline/jquery.sparkline.js}"></script>
    <script th:src="@{/assets/plugins/chartjs/Chart.min.js}"></script>
    <script th:src="@{/assets/plugins/jqueryui/jquery-ui.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/assets/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/typeahead.js-master/dist/typeahead.bundle.min.js}"></script>
    <script th:src="@{/assets/plugins/momentjs/moment.min.js}"></script>
    <script th:src="@{/assets/plugins/momentjs/moment-timezone-with-data.js}"></script>
    <script th:src="@{/assets/plugins/toast-master/js/jquery.toast.js}"></script>
    <script th:src="@{/assets/plugins/tablesorter/jquery.tablesorter.min.js}"></script>
    <script th:src="@{/assets/plugins/typeahead.js-master/dist/typeahead.bundle.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>

    <link th:href="@{/assets/plugins/jqueryui/jquery-ui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/colors/blue-dark.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/plugins/sweetalert/sweetalert.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/plugins/typeahead.js-master/dist/typehead-min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/plugins/toast-master/css/jquery.toast.css}" rel="stylesheet" type="text/css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body class="fix-sidebar card-no-border">

<div class="preloader" style="display: none;">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div id="main-wrapper" layout:fragment="wrapper">

    <aside class="left-sidebar">
        <div class="scroll-sidebar">

            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a th:href="@{/}" aria-expanded="false"><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li>
                        <a th:href="@{/departments}" aria-expanded="false"><span th:text="#{common.departments}"
                                                                                 class="hide-menu">Departments</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="sidebar-footer">
            <form sec:authorize="isAuthenticated()" th:action="@{/users/logout}" method="post">
                <a href="javascript:void(0)" onclick="this.parentNode.submit()" class="link" data-toggle="tooltip" title="Logout"><i
                    class="mdi mdi-power"></i></a>
            </form>
        </div>
    </aside>

    <div class="page-wrapper">
        <div class="container-fluid">

            <main layout:fragment="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                Sample page.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>